.btn-group {
  margin-left: 15px;
}

.btn:not(.active) {
  opacity: 0.5;
}

.pagination.disabled {
  pointer-events: none;
  opacity: 0.5;
}


@media (max-width: 768px) {
  .pagination{
    flex-direction: column;
    margin-bottom: 15px;
    gap: 15px;
  }
}