:root {
  --color-primary: #17161a;
  --color-secondary: #18142e;
  --color-tertiary: #402ca3;
  --color-tertiary-light: rgb(100, 84, 150);
  --color-contrast: #ecb365;
  --color-text: #ffffff;
  --color-light: #d1d1d1;
}
