<div class="header">
    <div class="container">
        <div class="navigation">
            <a routerLink="/home" [routerLinkActive]="['is-active']">Home</a>
            <a routerLink="/favorites" [routerLinkActive]="['is-active']">Favoritos</a>
        </div>
        <div class="end">
            <div class="user-name">
                {{user?.name}}
            </div>
            <app-button (click)="authService.logout()">
                <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
            </app-button>
        </div>
    </div>
</div>

<div class="container controls">
    <div class="get-types">
        <button class="btn" [ngClass]="{active: type === 'characters'}" (click)="getItems('characters')"> Personagens </button>
        <button class="btn" [ngClass]="{active: type === 'comics'}" (click)="getItems('comics')"> HQs </button>
    </div>
    <app-pagination [disabled]="loading" [total]="total" [limit]="limit" [page]="offset" (onPageChange)="changePage($event)" (onLimitChange)="changeLimit($event)"></app-pagination>
</div>

<div class="container list-grid" *ngIf="!loading">
    <app-item *ngFor="let item of list" [item]="item" [type]="type" (onToggleFavorite)="getItems(type)"></app-item>
</div>

<div class="container list-grid" *ngIf="loading">
    <app-item *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,0,1]"></app-item>
</div>